*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height:100%;
    width: 100%;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main span{
    display: inline-block;
}